.container-about {
  display: flex;
}
.about-release {
  margin-right: 150px;
  &__title {
    font-family: var(--font-family-Audiowide);
    font-size: var(--about-title-font-size);
    line-height: var(--about-title-line-height);
    margin-left: 66px;
  }
  &__subtitle {
    font-family: var(--font-family-Audiowide);
    font-size: var(--about-title-font-size);
    line-height: var(--about-title-line-height);
    color: var(--text-primary-color);
    width: 361px;
    margin-left: 66px;
  }
  &__image {
    width: 360px;
    height: 360px;
  }
}
.about-block {
  width: 580px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  &__info {
    font-family: var(--font-family-Inter);
    font-size: var(--about-info-font-size);
    line-height: var(--about-info-line-height);
  }
  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: var(--font-family-DM);
    font-size: var(--about-button-font-size);
    line-height: var(--about-button-line-height);
    color: inherit;
    width: 246px;
    padding: 10px 33px 16px 33px;
    margin-top: 36px;
    border: var(--about-button-border-color);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--button-background-color);
      transition: all 2s ease;
      z-index: -1;
    }
    &:hover:before {
      width: 100%;
    }
  }
}
.about-info {
  display: flex;
  margin-bottom: 27px;
  padding: 1px 12px 5px 22px;
  border-left: var(--about-border-left-color);
  &__present {
    font-family: var(--font-family-DM);
    font-size: var(--about-present-font-size);
    line-height: var(--about-present-info-line-height);
    color: var(--text-title-color);
  }
}
