.section-artists {
  overflow: hidden;
}
.artist-block {
  display: flex;
  justify-content: center;
  margin-bottom: 127px;
  .artist-block__text {
    font-family: var(--font-family-Audiowide);
    font-size: var(--artist-text-font-size);
    line-height: var(--artist-text-line-height);
    text-transform: uppercase;

    &::after {
      content: "ARTISTS";
      margin-left: 394px;
    }
    &::before {
      content: "ARTISTS";
      margin-right: 394px;
      margin-left: 350px;
    }
  }
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  .artists-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .artists-list__photo {
    width: 245px;
    height: 245px;
    margin-bottom: 20px;
  }
  .artists-list__names {
    font-family: var(--font-family-DM);
    font-size: var(--names-artist-font-size);
    line-height: var(--names-artist-line-height);
  }
}
