.section-artist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  .section-artist__text {
    font-family: var(--font-family-Audiowide);
    font-size: var(--artist-text-font-size);
    line-height: var(--artist-text-line-height);
    color: var(--text-main-color-wt);
  }
}
