.footer {
  padding: 101px 140px;
  background-color: var(--footer-background-color);
}
.footer-container {
  display: flex;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-right: 64px;

  .footer-logo__image {
    width: 103px;
    height: 24px;
  }
  .footer-logo__text {
    font-family: var(--font-family-DM);
    font-size: var(--footer-text-font-size);
    line-height: var(--footer-text-line-height);
  }
}
.footer-link {
  display: flex;
  .sourcelink-list {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-right: 100px;
    .sourcelink-list__link {
      font-family: var(--font-family-DM);
      font-size: var(--footer-source-font-size);
      line-height: var(--footer-source-line-height);
      color: var(--text-main-color-wt);
    }
  }
  .licencelink-list {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-right: 100px;
    .licencelink-list__link {
      font-family: var(--font-family-DM);
      font-size: var(--footer-licence-font-size);
      line-height: var(--footer-licence-line-height);
      color: var(--text-main-color-wt);
    }
  }
  .infotext-list {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-right: 100px;
    .infotext-list__text {
      font-family: var(--font-family-DM);
      font-size: var(--footer-info-font-size);
      line-height: var(--footer-info-line-height);
    }
  }
  .soclink-list {
    display: flex;
    .soclink-list__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    .soclink-list__link {
      display: block;
      width: 36px;
      height: 36px;
      background-color: var(--text-main-color-wt);
    }
  }
}
