.hero {
  display: flex;
}
.block-title {
  display: flex;
  flex-direction: column;
  padding: 21.38px 19px 0 77px;
  justify-content: center;
  .block-title__title {
    font-family: var(--font-family-Audiowide);
    font-size: var(--title-hero-font-size);
    line-height: var(--title-hero-line-height);
    margin-bottom: 43px;
  }
  .block-title__subtitle {
    font-family: var(--font-family-Inter);
    font-size: var(--subtitle-hero-font-size);
    line-height: var(--subtitle-hero-line-height);
    width: 340px;
    margin-bottom: 115px;
  }
  .block-title__button {
    font-family: var(--font-family-DM);
    font-size: var(--button-title-font-size);
    line-height: var(--button-title-line-height);
    width: 207px;
    padding: 17px 40px 27px 40px;
    background-color: var(--button-background-color);
  }
}
.block-img {
  .block-img__image {
    width: 870px;
    height: 653px;
  }
}
