.section-logoholder {
  padding: 0 240px 0 40px;
}
.logoholder-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;

  &__image {
    width: 250px;
    fill: red;
    stroke: #fff;
  }
}
