.section-roadmap {
  display: flex;
  padding: 360px 80px 240px 80px;
  background-image: url(../../images/roadmap/back-roadmap-min.png);
  background-repeat: no-repeat;
}

.container-roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1280px;
}

.roadmap-title {
  margin-bottom: 107px;
  .roadmap-title__title {
  }
}
