.container-story {
  display: flex;
  flex-direction: column;
}
.story-title {
  display: block;
  text-align: center;
  margin-bottom: 61px;
  font-family: var(--font-family-Audiowide);
  font-size: var(--story-title-font-size);
  line-height: var(--story-title-line-height);
  .story-title__subtitle {
    color: var(--text-primary-color);
  }
}
.block-content {
  display: flex;
}
.story-btn {
  display: flex;
  flex-direction: column;
  .story-btn__button {
    background-color: transparent;
    color: inherit;
    padding: 25px 134px 31px 28px;
  }
  .story-btn__text {
    display: block;
    font-family: var(--font-family-DM);
    font-size: var(--story-button-font-size);
    line-height: var(--story-button-line-height);
    width: 120px;
    text-align: left;
  }
}
.content {
  padding: 60px;
  background-color: var(--story-background-color-blocks);
}
.founders {
  display: flex;
}
.story-image {
  width: 172px;
  height: 253px;
  margin-right: 40px;
}
.story-info {
  padding: 1px 0 4px 22px;
  margin-bottom: 28px;
  border-left: var(--about-border-left-color);
  .story-info__release {
    font-family: var(--font-family-DM);
    font-size: var(--story-release-font-size);
    line-height: var(--story-release-line-height);
    color: var(--text-title-color);
  }
}
.story-block {
  display: flex;
  flex-direction: column;
  width: 546px;
  .story-block__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  .story-block__info {
    font-family: var(--font-family-Inter);
    font-size: var(--story-info-font-size);
    line-height: var(--story-info-line-height);
  }
}
