:root {
  --background-main-color: #000000;
  --story-background-color-blocks: #222222;

  --text-main-color-wt: #ffffff;
  --text-main-color-bk: #000000;
  --text-primary-color: #a8a8a8;
  --text-title-color: #8dfd1b;

  --font-family-Audiowide: "Audiowide", sans-serif;
  --font-family-DM: "DM Mono", monospace;
  --font-family-Inter: "Inter", sans-serif;

  --button-background-color: #8dfd1b;
  --button-background-color-sel: #000000;

  --about-border-left-color: 2px solid #8dfd1b;
  --about-button-border-color: 1px solid #8dfd1b;
  --roadmap-number-border-color: 1px solid #8dfd1b;

  --nav-font-size: 16px;
  --title-hero-font-size: 51px;
  --subtitle-hero-font-size: 16px;
  --button-title-font-size: 16px;
  --about-title-font-size: 38px;
  --about-present-font-size: 21px;
  --about-info-font-size: 16px;
  --about-button-font-size: 16px;
  --artist-text-font-size: 79px;
  --names-artist-font-size: 16px;
  --story-button-font-size: 16px;
  --story-title-font-size: 37px;
  --story-release-font-size: 21px;
  --story-info-font-size: 16px;
  --roadmap-text-font-size: 38px;
  --roadmap-subtitle-font-size: 8px;
  --roadmap-title-font-size: 16px;
  --roadmap-options-text-font-size: 11px;
  --roadmap-statistics-text-font-size: 11px;

  --nav-line-height: 100%;
  --title-hero-line-height: 118.852%;
  --subtitle-hero-line-height: 160%;
  --button-title-line-height: 100%;
  --about-title-line-height: 119.697%;
  --about-present-info-line-height: 152.343%;
  --about-info-line-height: 160%;
  --about-button-line-height: 100%;
  --artist-text-line-height: 111.392%;
  --names-artist-line-height: 150%;
  --story-button-line-height: 100%;
  --story-title-line-height: 122.932%;
  --story-release-line-height: 152.343%;
  --story-info-line-height: 160%;
  --roadmap-text-line-height: 119.697%;
  --roadmap-subtitle-line-height: 150%;
  --roadmap-title-line-heght: 173.29%;
  --roadmap-options-text-line-height: 290.909%;
  --roadmap-statistics-text-line-heght: 232.727%;
}
